sudo: required
language: rust
os:
 - linux
 - osx
rust:
 - stable
 - beta
 - nightly
matrix:
 allow_failures:
  - rust: nightly
script:
- cargo build --release
- make test
after_success: |
 wget https://github.com/SimonKagstrom/kcov/archive/master.tar.gz && 
 tar xzf master.tar.gz && mkdir kcov-master/build && cd kcov-master/build && cmake .. && make &&
 sudo make install && cd ../.. &&
 kcov --coveralls-id=$TRAVIS_JOB_ID --exclude-pattern=/.cargo target/kcov target/debug/polish-*
addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - cmake
      - gcc
      - binutils-dev
